@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@300;400;500;600;700&display=swap');

*, body, html {
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #1e1e1e
}

p {
    margin: 0px;
    padding: 0px;
}

div#app {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

div#navigation {
    width: 14%;
    height: 100vh;
}

div#panel__space {
    background: #ECF0F1;
    width: 84.5%;
    height: 95%;
    border-radius: 20px;
    padding: 35px 40px;
    overflow-y: auto;
    box-shadow: inset 0px -64px 100px -73px rgba(0, 0, 0, 0.25), inset 0px 64px 100px -73px rgba(0, 0, 0, 0.25);
}

div.logo {
    margin-top: 40px;
    margin-left: 20px;
}

div.logo img {
    width: 135px;
}

div.navTitle p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 0.05em;
    margin-top: 50px;
    margin-left: 30px;
    color: rgba(54, 64, 75, 0.6);
    margin-bottom: 25px;
}

div.navItems p {
    font-family: 'Poppins', sans-serifs;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    letter-spacing: 0.005em;
    align-items: center;
}

div.navItem {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
    cursor: pointer;
}

div.left {
    display: flex;
    align-items: center;
    width: 22px;
    height: 22px;
    margin-right: 14px;
    margin-left: 30px;
}

div.leftIndicator {
    height: 40px;
    width: 5px;
    background: #470063;
    border-radius: 0px 10px 10px 0px;
    margin-right: -5px;
}

div.--row {
    display: flex;
    justify-content: center;
    width: 100%;
}

div#seperator__line {
    border: 1px solid rgba(54, 64, 75, 0.15);
    width: 72.08%;
    height: 0px;
    margin-top: 15px;
}

.navItem.active p{
    color: #36404B;
}

.navItem p{
    color: rgba(54, 64, 75, 0.75);
}

/* Employees */

div#title {
    background: transparent;
    border-top-left-radius: 70px;
    height: 20%;
    font-size: 2.4em;
    font-weight: 700;
    color: #1e1e1e;

    line-height: 109%;

    display: flex;
    justify-content: space-between;
}

.title-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3%;
}

#time {
    font-size: 0.75em;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

table, th, td {
    text-align: center;
    vertical-align: middle;
}

th {
    border-bottom: 1px solid #B1B4B5;
    height: 2em;
    padding-bottom: 0.6em;
    color:#1e1e1e
}

tr#two td {
    padding-top: 1.1em;
}

td {
    padding-top: 1em;

}



tr#one:hover {
    background-color: transparent;
}

a.button-view {
    background-color: #470063;
    color: #ECF0F1;
    text-decoration: none;
    padding: 0.6em 1.7em;
    border-radius: 30px;
    font-size: 0.8em;
    transition: all 0.2s;
}

a.button-view:hover {
    background-color: #FF4343;
}
