body, html {
    margin: 0px;
    padding: 0px;
    outline: none;
}

p{
    margin: 0px;
    padding: 0px;
}

div#app {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

div#navigation {
    width: 14%;
    height: 100vh;
}

div#panel__space {
    background: #ECF0F1;
    width: 84.5%;
    height: 95%;
    border-radius: 30px;
}

div.logo {
    margin-top: 40px;
    margin-left: 20px;
}

div.logo img {
    width: 135px;
}

div.navTitle p {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 0.05em;
    margin-top: 50px;
    margin-left: 30px;
    color: rgba(54, 64, 75, 0.6);

}

div#title {
    background: #470063;
    border-top-left-radius: 70px;
    height: 20%;
    font-size: 2.4em;
    font-weight: 700;
    color: #ECF0F1;
    
    line-height: 109%;

    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 28px 2px rgba(0, 0, 0, 0.45);
}

.title-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7%;
}

#time {
    font-size: 0.75em;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

table, th, td { 
    text-align: center;
    vertical-align: middle;
}

th {
    border-bottom: 1px solid #B1B4B5;
    height: 2em;
    padding-bottom: 0.6em;
}

tr#two td{
    padding-top: 1.1em;
}

td {
    padding-top: 0.3em;
}

tr:hover{
    background-color: #8080801f;
}

tr#one:hover {
    background-color: #B1B4B5;
}

a.button-view {
    background-color: #470063;
    color: #ECF0F1;
    text-decoration: none;
    padding: 0.4em 1.1em;
    border-radius: 30px;
    font-size: 0.8em;
    transition: all 0.2s;
}

a.button-view:hover {
    background-color: #FF4343;
}
